@import url('https://fonts.googleapis.com/css2?family=Krona+Onne&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet');

:root{
    --cor-primaria:#556b2f;
    --cor-secundaria:#F6F6F6;
    --cor-terciaria: #ffffff;
    --cor-quarta:#ca927c;
    --cor-hover: #1e555f;

    --font-principal:
    'Krona One', sans-serif;
    --font-secundaria:
    'Poppins', sans-serif;
}


*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var( --cor-primaria);
    color: #ffffff;
    font-weight: bolder;
    background-image: url(../assets/imgbackground.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: soft-light;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
      width: 100%;
      height: fit-content;
    }
}

@media(max-aspect-ratio:16/9){
    .back-video{
      width: auto;
      height: 100%;
    }
}


.background_image div{
    background-image: url(../assets/imgbackground.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    
    height: 100%;
    display: flex;
    gap: 80px;
    align-items: center;
    position: relative;
    z-index: index;
    justify-content: flex-start;
}

h2
{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}


.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    text-decoration: none;
    border-style: hidden;
    transition: all 0.3s;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
}

.cabecalho__menu__link:hover{
    transform: translateY(-10px);
    background-color:var(--cor-hover);
}

.apresentacao__conteudo__titulo{
    font-size: 50px;
    font-family: var(--font-secundaria);
}
.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 68px;
}

.titulo-destaque{
    font-size: x-large;
    font-family:var(--font-secundaria);
    padding: 0px;
    
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 39px;
    justify-content: flex-end;
}

.apresentacao__conteudo__texto{
    font-size: 29px;
    font-family: var(--font-secundaria);
    justify-content: center;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    justify-content: center;
    font-family: var(--font-secundaria);
    font-weight: bolder;
    font-size: 27px;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}
.links_redirect{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bolder;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: var(--font-secundaria);
    transition: all 0.3s;
}


.links_redirect:hover{
    background-color:var(--cor-hover);
    transform: translateY(-10px);
}

.apresentacao__imagem{
    width: 70%;
}

img.apresentacao__imagem {}

.apresentacao__imagem_about{
    width: 20%;
    justify-content: safe;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--cor-quarta);
    font-size: 24px;
    font-weight: 400;
    
}

@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 11%;
    }
    .apresentacao__conteudo{
        width: -webkit-fill-available;
    }
}

.animate{
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate--infinite{
    animation-iteration-count: infinite;
}

.animate--delay{
    animation-delay: 1s;
}

.animate--fast{
    animation-duration: 0.6s;
}

.animate--slow{
    animation-duration: 3s;
}


@keyframes slideInLeft {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
    animation-timing-function: ease-in; 
}



